/* style.css */
body {
    font-family: 'Cooper Black';
    background-color: #ffbf00;}

    div {
        width: 35px;
        height: 5px;
        background-color: magenta;
        margin: 6px 0;
        width: 50px;
        -webkit-transition: width 2s height 2s; 
        transition: width 2s height 2s;
}

div:hover {
  width: 100px;
  height: 10px;

      }
      nav{
        transition: all 0.5s ease;
        float: left;
        margin-top: -2%;
        height: 3em;
        overflow: hidden;
        
    }
    nav:hover{
        height: 10em;
    }
    nav li{
        position: relative;
        font-size:1em;
        background-color: #ffbf00;

    
    }
header {
    width: 100%;
    float: left;
    background-image:url("https://kretschmerlea.github.io/Aufgabe04/that70sshow2.jpg");
    background-position: fixed;
    border-radius: 10px;}

main>section:nth-child(0+3n+1) {clear:left}
{ 
    width: 50%;
    float: left;
    
    }

aside {
    width: 20%;
    float: left;
    height: 20em;
    background-color: #DF3A01;
    border-radius: 10px;
    position: relative;
    margin-right: 5em;
    overflow: hidden}
p {
    font-size: 1,5em;
    color: #084b8a;}
section {
    float: left;
    background-color: #9a2efe;
    max-width: 18em;
    height: 50em;
    border-radius: 10px;
    margin: 1em;
overflow: auto}

h1 {
    margin: 1em;}

article {
    margin: 1em;
    border: 1em;
    border-radius: 10px;
    background-color: #81bef7;
    max-width: 18em;}
img {
    margin: 1em;
    width: 130px;
    height: auto;
    border: 1px;
    border-radius: 10px;}
footer {
    height: 10em;
    width: 100%;
    float:left;
    background-color: #DF3A01;
    border-radius: 10px;}

   
    
    
    @media screen and (max-width: 36em){

        aside{height: 50%;
            width: 100%
        }
        main{
            width: 36em;
            margin-left: 20%;
        }
        section{
            height: 15em;
            overflow: auto;
            width: 36em;
            float:left;
        }
    
        section:nth-of-type(n+1){
            margin-left: 2%;
        }
    
        section:first-of-type,section:nth-of-type(n+1){
            margin-left: 0%;
            clear:both;
        }
    }

    @media screen and (max-width: 63em){
        aside{height: 80%;
            width: 100%
        }
        main{
            width: 100%;
            margin-left: 20%;
        }
        section{
            height: 20em;
            overflow: auto;
            width: 63em;
            float:left;
        }
    
        section:first-of-type,section:nth-of-type(2n+1){
            margin-left: 0%;
            clear:both;
        }
    }