

body {
    font-family: 'Cooper Black';
    background-color: #ffbf00;}

header {
    width: 100%;
    float: left;
    background-image:url("https://kretschmerlea.github.io/Aufgabe04/that70sshow2.jpg");
    background-position: fixed;
    border-radius: 10px;}
main {
    width: 100%;
    float: left;}


main>img:nth-child(n+1) {clear:left}
img {position: relative;
    margin: 1em;
    float:left;
    width: auto;
    height: 20em;
    border: 1px;
    border-radius: 10px;}
footer {
    width: 100%;
    float:left;
    background-color: #DF3A01;
    border-radius: 10px;}

    @media screen and (max-width: 36em){

        aside{height: 50%;
            width: 100%
        }
        main{
            width: 36em;
            margin-left: 20%;
        }
        section{
            height: 15em;
            overflow: auto;
            width: 36em;
            float:left;
        }
    
        section:nth-of-type(n+1){
            margin-left: 2%;
        }
    
        section:first-of-type,section:nth-of-type(n+1){
            margin-left: 0%;
            clear:both;
        }
    }

    @media screen and (max-width: 63em){
        aside{height: 80%;
            width: 100%
        }
        main{
            width: 100%;
            margin-left: 20%;
        }
        section{
            height: 20em;
            overflow: auto;
            width: 63em;
            float:left;
        }
    
        section:first-of-type,section:nth-of-type(2n+1){
            margin-left: 0%;
            clear:both;
        }
    }